.sidebar {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100%;
    width: 250px;
}

@import 'components/overlay';

@import 'components/widgets/time';
@import 'components/widgets/weather';
@import 'components/flipper';
